<style>
    input[type=text] {
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid silver;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    button {
        border: 2px solid silver;
        background-color: white;
        font-size: 16px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        cursor: pointer;
    }

    button:active {
        border-color: black;
    }

    #container {
        border: 2px darkred dashed;
        padding: 20px;
    }
</style>
<div class="animation">
    <div class="bus">
        <div class="bus-mirror"></div>
        <div class="bus-mirror-front"></div>
          <div class="bus-top-dummy">
          <div class="bus-top-center"></div>
          <div class="bus-stair">
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        </div>
          </div>
          <div class="bus-top"></div>
          <div class="bus-middle">
        <div class="bus-glass-front"></div>
          <div class="bus-glass"></div>
         <div class="bus-glass"></div>
          <div class="bus-glass"></div>
           <div class="bus-glass"></div>
           <div class="bus-glass"></div>
           <div class="bus-glass"></div>
            <div class="bus-glass-back"></div>
          </div>
          <div class="bus-middle-bottom">
          <div class="light-front">
          <div class="light-blue-front"></div>
          <div class="light-orange"></div>  
        </div>
             <div class="light-center">
          <div class="light-red"></div>
          <div class="light-red"></div>
          <div class="light-red"></div>
        
        <div class="tank"></div>    
        <div class="light-red-right"></div>     
        </div>
            <div class="light-back">
          <div class="light-red-top"></div>
          <div class="light-blue"></div>
          <div class="light-red-bottom"></div>  
          </div>
          </div>  
          <div class="bus-bottom">
          <div class="tyre"></div>
          <div class="tyre"></div>
          </div>
        </div>
        <!-- <div class="road"></div> -->
        
</div>
<div id="container">

    <div>
        <img src="../../../assets/angular.png" width="50">
    </div>
    <h1>Bus</h1>
    <div class="dropdown">
        <!-- <label>Origin City</label> -->
        <select class="dropdownSelect" id="originCity">
            <option value="" selected>Enter Origin City</option>
            <option value="BLR">Bangalore</option>
            <option value="MAA">Chennai</option>
            <option value="DEL">Delhi</option>
            <option value="HYD">Hyderabad</option>
        </select>
    </div>
    <br>
    <div class="dropdown">
        <select class="dropdownSelect" id="originCity">
            <option value="" selected>Enter Destination City</option>
            <option value="BLR">Bangalore</option>
            <option value="MAA">Chennai</option>
            <option value="DEL">Delhi</option>
            <option value="HYD">Hyderabad</option>
        </select>
    </div>
    <div>
    </div>
    <div>
        <ng-container #vc></ng-container>
    </div>
    <button> Go</button>
</div>


<button (click)="go()"> Travel Home Page </button>