<ul>
  <li><img src="../assets/angular.png" width="50"></li>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/travel">Travel</a></li>
  <!-- <li><a routerLink="/linkai">LINKAI</a></li> -->
  <!-- <li><a routerLink="/digitalai/clientselection">DIGITALAI</a></li> -->
  <!-- <li><a routerLink="/ds/">ds</a></li> -->
</ul>

<div style="font-weight: 800; font-size: larger;text-transform: uppercase; text-decoration: underline;">Micro-Frontend 1 application</div>
<br>
<router-outlet></router-outlet>
